<p id="notice"><%= notice %></p>

<div class = "form_content m-3 border d-inline-flex p-3">
  <%= form_with(url: tasks_path, method: :get, scope: 'search', local: true) do |f| %>
    <div>
      <%= f.label :title_search %>
      <%= f.text_field :title_search %>
    </div>

    <div>
      <%= f.label :status_search %>
      <%= f.select :status_search, Task.status_input_restriction %>
    </div>

    <div>
      <%= f.label :label_search %>
      <%= f.select :label_search, Label.all.collect {|p| [p.name, p.id] }, include_blank: true %>

      <%# <% list = [nil] %> %>
      <%# <% Label.all.each do |label| list << label.name end %> %>
      <%# <%= f.select :label_search, list %> %>
    </div>
    <div><%= f.submit t("search"), class:"bd-highlight" %></div>
  <% end %>
</div>

<p><%= link_to t('New Task'), new_task_path ,class:"btn btn-primary"%></p>

<table class="table">
  <thead>
    <tr>
      <%# <th>User</th> %>
      <th scope="col"><%=  t("title") %></th>
      <th scope="col"><%= link_to t("Priority"), tasks_path(sort_priority: "true") %></th>
      <%# <th><%= link_to "Deadline", sort_tasks_path %>
      <th scope="col"><%= link_to t("Deadline"), tasks_path(sort_expired: "true") %></th>
      <th scope="col"><%= t("Status") %> </th>
      <th scope="col"> <%= t("created_at") %></th>
      <th scope="col"> <%= t("author") %></th>
      <th scope="col"> <%= t("labels") %></th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class ="task_row">
        <%# <><%= task.user_id %>
        <td><%= task.title %></td>
        <td><%= Task::priority_cord[task.priority.to_i] %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.created_at %></td>
        <td><%= task.user.name %></td>
        <td>
          <% task.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', task, class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-outline-warning" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @tasks %>
