<p><%= link_to 'タスク一覧へ',tasks_path(@user), class:"btn btn-primary"%></p>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Section:</strong>
  <%= @user.section %>
</p>

<table class="table">
  <thead>
    <tr>
      <%# <th>User</th> %>
      <th scope="col"><%=  t("title") %></th>
      <th scope="col"><%= link_to t("Priority"), tasks_path(sort_priority: "true") %></th>
      <%# <th><%= link_to "Deadline", sort_tasks_path %>
      <th scope="col"><%= link_to t("Deadline"), tasks_path(sort_expired: "true") %></th>
      <th scope="col"><%= t("Status") %> </th>
      <th scope="col"> <%= t("created_at") %></th>
      <th scope="col"> <%= t("author") %></th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class ="task_row">
        <%# <><%= task.user_id %>
        <td><%= task.title %></td>
        <td><%= Task::priority_cord[task.priority.to_i] %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.created_at %></td>
        <td><%= task.user.name %></td>
        <td><%= link_to 'Show', task, class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-outline-warning" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
